*{
    margin:0 ;
    padding:0 ;
}
body{
    background-color: rgb(71, 19, 131);
    font-family: 'Amatic SC', cursive;
    background-image: url(/img/background.png) ;
}




.btn{
    color: rgb(251, 251, 251);
    background-color:rgba(248, 158, 1, 0.3);
    border: solid 2px white;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    margin:40px  auto;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
}
.btn:hover{background-color:rgba(0, 195, 255, 0.9);
    transition: 0.4s;
font-size: 32px;


}
    


main{
    
    padding-top: 10vh;




}
.prev{
height: 70px;
width: 70px;
font-size: 50px;
color: white;
border:solid 2px white;
border-radius: 70px;
display: flex;
justify-content: center;
align-items: center;

}
.prev:hover{
background-color: rgb(34, 139, 38, 0.9);
color: rgb(71, 19, 131);
font-size: 60px;
transition: 0.4;


}
header{
padding: 30px;
display: flex;
justify-content: flex-end;
}
